<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connections - Connection</title>
    <link rel='stylesheet' href='/public/styles/global.css'>
    <link rel="stylesheet" href="/public/styles/connection.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2><%= connection.connection_name %></h2>

<form>

            <button type = "submit" formmethod = "GET" formaction = "/connection/<%= connection.id%>/edit">Edit</button>
            <button type = "submit" formmethod = "POST" formaction = "/connection/<%= connection.id%>?_method=DELETE">Delete</button>
        
        </form>

        <div class="info">
            <p>Hosted by <em><%= connection.host_name %></em></p>
            <p><%= connection.date %></p>
            <p><%= connection.start_time %> - <%= connection.end_time %></p>
            <p><%= connection.location %></p>
        </div>

        <img src="<%= connection.img %>" alt="<%= connection.location %>">

        

        <div class="details">
            <h3>Details</h3>
            <p><%= connection.details %></p>
        </div>
    </main>

    <%- include('../components/footer') %>
</body>
</html>