<%- include('../components/head') %>
    <link rel="stylesheet" href="/public/css/connection.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2><%= connection.title %></h2>

        <% if (locals.isHost == true) { %>
            <div class="rsvp">
                <p class="center-text"><%= rsvp_count %> Attending</p>

                <div class="flex">
                    <a class="button" href="/connection/edit/<%= connection._id %>">Edit</a>
                    <a class="button red" href="/connection/delete/<%= connection._id %>">Delete</a>
                </div>
            </div>
        <% } else if (locals.isAuthenticated) { %>
            <div class="rsvp">
                <p><%= rsvp_count %> Attending</p>
                <p>RSVP to attend</p>
                <div class="flex">
                    <a href="/rsvp/user/<%= locals.user %>/connection/<%= connection._id %>/status/Yes/title/<%= connection.title %>/topic/<%= connection.topic %>" class="button">Yes</a>
                    <a href="/rsvp/user/<%= locals.user %>/connection/<%= connection._id %>/status/No/title/title/<%= connection.title %>/topic/<%= connection.topic %>" class="button red">No</a>
                    <a href="/rsvp/user/<%= locals.user %>/connection/<%= connection._id %>/status/Maybe/title/<%= connection.title %>/topic/<%= connection.topic %>" class="button">Maybe</a>
                </div>
            </div>
        <% } else { %>
            <div></div>
        <% } %>

        <div class="info">
            <p>Hosted by <em><%= connection.host %></em></p>
            <p><%= connection.date %></p>
            <%if(parseInt(connection.start_time) > 12) {%>
                <% connection.start_timeMod = parseInt(connection.end_time) - 12  %>
                <%= connection.start_timeMod %>:<%=connection.start_time.substring(3,5) %>PM
             <%} else if(parseInt(connection.start_time) === 12) {%>
                <%= connection.start_time%>PM %>
            <%} else  {%>
                <%= connection.start_time%>AM
                <%}%>-
            <%if(parseInt(connection.end_time) > 12) {%>
                    <% connection.end_timeMod = parseInt(connection.end_time) - 12  %>
                    <%= connection.end_timeMod %>:<%=connection.end_time.substring(3,5) %>PM
            <%} else if(parseInt(connection.end_time) === 12) {%>
                    <%= connection.end_time%>PM %>
            <%} else  {%>
                    <%= connection.end_time%>AM
                    <%}%>
            <p><%= connection.location %></p>
        </div>

        <% if (connection.img) { %>
            <img src="<%= connection.img %>" alt="<%= connection.location %>">
        <% } else { %>
            <div></div>
        <% } %>

        

        <% if (connection.details && connection.details.trim() !== '') { %>
            <div class="details">
                <h3>Details</h3>
                <p><%= connection.details %></p>
            </div>
        <% } else { %>
            <div></div>
        <% } %>
    </main>

    <%- include('../components/footer') %>
</body>
</html>