<%- include('../components/head') %>
    <link rel='stylesheet' href='/public/css/connections.css'>
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <% topics.forEach((t) => { %>
            <ul>
                <h1 class="cardTitle"> <%= t.charAt(0).toUpperCase() + t.slice(1) %></h1>
                <% connections.forEach((c) => { %>
                    
                    <% if (c.topic === t) { %>
                        <%- include('../components/connection', { connection: c }) %>
                    
                    <% } %>
                <% }) %>
            
            </ul>
        <% }) %>
    </main>

    <%- include('../components/footer') %>
</body>
</html>