
    
<li className="connection">
    <div class="card">
    <%const imageUrlRegex = /\.(jpeg|jpg|gif|png)$/i%>
    <%const isValidImageUrl = imageUrlRegex.test(connection.img)%>
    <%if(!imageUrlRegex.test(connection.img)) {%>
        <a class='img' href="/connection/id/<%= connection._id %>" ><img src="https://ucomm.charlotte.edu/sites/ucomm.charlotte.edu/files/styles/media_assets_thumbnail_16x9/public/media-assets/thumbnails/UNC%20Charlotte%20Primary%20Logo%20Black%20-%20PNG-01.png?itok=3NWXDBXI" style="object-fit: fill;" class="cardImg"></a>
    <%} else {%>
        <a class='img' href="/connection/id/<%= connection._id %>" ><img src="<%=connection.img %> " class="cardImg"></a>
    <%}%>
    <br>
    <div class="card-content">
    <a href="/connection/id/<%= connection._id %>"><h2><%= connection.title %></h2></a>
        <h3><%= connection.date %> 
        <br> 
            <%if(parseInt(connection.start_time) > 12) {%>
                <% connection.start_timeMod = parseInt(connection.end_time) - 12  %>
                <%= connection.start_timeMod %>:<%=connection.start_time.substring(3,5) %>PM
            <% } else if(parseInt(connection.start_time) === 12) { %>
            <%= connection.start_time%>PM %>
            <%} else  {%>
                <%= connection.start_time%>AM
                <% } %> -
            <%if(parseInt(connection.end_time) > 12) {%>
                    <% connection.end_timeMod = parseInt(connection.end_time) - 12  %>
                    <%= connection.end_timeMod %>:<%=connection.end_time.substring(3,5) %> PM
            <%} else if(parseInt(connection.end_time) === 12) {%>
                    <%= connection.end_time %> PM
            <%} else  {%>
                <%= connection.end_time %> AM
            <% } %>
        </h3>
    </div>
</div>
    
</li>