<tr>
    <td><a href="/connection/id/<%= connection._id %>"><%= connection.title %></a></td>
    <td><a href="/connection/"><%= connection.topic %></a></td>
    <td><div class='flex'>
        <a href="/connection/edit/<%= connection._id %>" class="button">Update</a>
        <a href="/connection/delete/<%= connection._id %>" class="button red">Delete</a>
    </div></td>
</tr>